{% extends 'base.html' %}

{% block title %} Товары {% endblock %}

{% block div %}
<div class="output_json">
    <div class="product-list"> <!-- Переместите этот контейнер сюда -->
        {% for key in data %}
            {% set market = key['product_market'] %}
            {% set name = key['product_name'] %}
            {% set link = key['product_link'] %}
            {% set price = key['product_price'] %}
            {% set stars = key['product_stars'] %}
            {% set photo = key['product_photo'] %}

            <div class="product-card">
              <img src="{{ photo }}" class="product-image">
              <div class="product-info">
                <h2 class="product-title">{{ name }}</h2>
                <p class="product-price">Цена: <span>{{ price }}</span></p>
                <div class="product-rating">
                  <span>⭐️⭐️⭐️⭐️⭐️</span> {{ stars }}
                <a href="{{ link }}" >{{ market }}</a>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}